@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;700;900&family=Major+Mono+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inconsolata', monospace;
    font-weight: 200;
    @apply bg-slate-900 text-slate-100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
}

h6 {
    font-size: 12px;
}

.custom-side-bar-bg {
    background-color: #20293A;
}

.custom-major-mono {
    font-family: 'Major Mono Display', monospace;
}

.photoPreview {
    height: 512px;
    width: 384px;
}

@media (min-width: 1024px) {
    .photoPreview {
        height: 768px;
        width: 576px;
    }
}

@media (min-width: 1280px) {
    .photoPreview {
        height: 1024px;
        width: 768px;
    }
}


/* CSS */
#navbar #info:hover #info-content {
    display: block;
}

.link {
    @apply underline-offset-2 underline;
}

.gallery-grid-photo:hover img {
    @apply opacity-40;
}

.gallery-grid-photo:hover h2 {
    @apply opacity-100;
}

.custom-bg-button {
    background-color: #E11D48;
}